mixin points({header = '', content1 = '', content2 = '', content3 = '', content4 = '', content5 = '', content6 = ''})
	.points&attributes(attributes)(data-component='points')
		//Your code here
		.points__container
			.points__container__header=header
			.points__container__content=content1
			.points__container__content=content2
			.points__container__content=content3
			.points__container__content=content4
			.points__container__content=content5
			.points__container__content=content6