mixin grid-container()
		section.grid-container
			// Your code here
			h1.grid-container__title
				span Комплексные
				|	предложения для мостостроения
			.grid-container__content.grid-container__wrapper
				.block 
					p Мостовая сталь/Стальные конструкции мостов
					a(class="block__button" href="/")
						|!{Btn}
				.block 
					p Железобетонные конструкции мостов
					a(class="block__button" href="/")
						|!{Btn}
				.block
					p Дорожные ограждения барьерного типа
					a(class="block__button" href="/")
						|!{Btn}
				.block.block_dark-blue
					p Шпунтовой замок
					a(class="block__button" href="/")
						|!{Btn}
				.block
					p Мостовой крепеж
					a(class="block__button" href="/")
						|!{Btn}
				.block.block_blue
					p Профили для деформационных швов
					a(class="block__button" href="/")
						|!{Btn}
				.block
					p Плетеные габионы
					a(class="block__button" href="/")
						|!{Btn}
				.block
					p Модульные мосты
					a(class="block__button" href="/")
						|!{Btn}