mixin grid-container()
    section.grid-container
        // Your code here
        - var modifiers = ['grey', 'blue', 'blue-light'];
        - var cardTitles = ['Мостовая сталь/Стальные конструкции мостов', 'Железобетонные конструкции мостов', 'Дорожные ограждения барьерного типа', 'Шпунтовой замок', 'Мостовой крепеж', 'Профили для деформационных швов', 'Плетеные габионы', 'Модульные мосты' ]
        - var i = 0;
        - var num = 1;
        h3.title
            span(class=['title__text', 'title__text_red' ]) Комплексные
            span(class=['title__text', 'title__text_blue' ]) &nbsp;предложения для мостостроения
        .wrapper
            - for (var x = 0; x < 3; x++)
                div(class=['card', `card_${modifiers[0]}`, `card_${num++}`])
                    .card__title= `${cardTitles[i++]}`
                    .card__icon
            div(class=['card', `card_${modifiers[1]}`, `card_${num++}`])
                .card__title= `${cardTitles[i++]}`
                .card__icon
            div(class=['card', `card_${modifiers[0]}`, `card_${num++}`])
                .card__title= `${cardTitles[i++]}`
                .card__icon
            div(class=['card', `card_${modifiers[2]}`, `card_${num++}`])
                .card__title= `${cardTitles[i++]}`
                .card__icon
            - for (var x = 0; x < 2; x++)
                div(class=['card', `card_${modifiers[0]}`, `card_${num++}`])
                    .card__title= `${cardTitles[i++]}`
                    .card__icon
