mixin form(props)
	form.form&attributes(attributes)(data-component='form' autocomplete="off")
		h3.form__title!="Форма обратной связи"
		.form-fields__wrapper
				label(class="form-fields__name" for="email")!="E-mail"
				input.form-fields__email(type='email' name="email" placeholder='E-mail' id='email' value="" required)
				span.form-fields__error
				label(class="form-fields__name" for="email")!="Ваше сообщение"
				textarea(name="" placeholder="Ваше сообщение" id='textarea' value="message" required).form-fields__textarea
				span.form-fields__error
				.form-fields__file__wrapper
					input(type="file" name="file" id="file" multiple="true" accept=".doc,.pdf,.docx").form-fields__file__input
					label(for="file" tabindex="0").form-fields__file!="Прикрепить файл"
						span.form-fields__error
					.file-error!="Вы можете загрузить только 2 документа" 
				.form-fields__checkbox__wrapper
					input.form-fields__checkbox(type="checkbox" name="checkbox" value="" required)
					p.form-fields__checkbox__desc!="Вы подтверждаете, что ознакомились " 
						a(href='').form-fields__checkbox__desc__span!="c политикой обработки персональных данных" 
					span.form-fields__error
				.form-fields__submit__wrapper
					button.form-fields__submit(type="submit")!="Открыть"
						+svg("arrow").form-fields__submit__svg
					.loader-wrapper__button
						span.loader__button
				.form-fields__success
					+svg('circle')
					span.form-fields__success-message!="Форма успешно отправлена"