mixin form(props)
	form.form&attributes(attributes)(
		data-component='form'
		id='form'
	)
		p.form__email-wrap
			input(
				placeholder='E-mail'
				type='email'
				data-reg='^([a-zA-Z\-0-9_]+|([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)+)|(".+"))@(([a-zA-Z\-0-9]+\.)+[a-zA-Z\-0-9]{2,})$'
			).form__input.form__email-input.input
			span.form__input-text E-mail
			span.form__email-error-text
			+svg('success-arrow').form__success-arrow
		p.form__message-wrap 
			textarea(placeholder='Ваше сообщение').form__input.form__message-input.input
			span.form__input-text Ваше сообщение
		p.form__file-wrap 
			input(
				type='file'
				id='fileInput'
				tabindex='-1'
			).form__file-hidden-input.visually-hidden
			label(
				for='fileInput'
				tabindex='0'
			).form__file-input Прикрепить файл
				span.form__plus
		label.form__checkbox-wrap
			input(
				type='checkbox'
				id='formCheckbox'
				tabindex='-1'
			).form__checkbox-hidden-input.visually-hidden
			span(tabindex='0').form__checkbox-text Вы подтверждаете, что ознакомились 
			span(
				tabindex='0'
			).form__checkbox-input
				+svg('checkbox').form__checkbox-icon
			a(
				href='#'
				target='__blank'
			).form__checkbox-link  c политикой обработки персональных данных
		button(type='button').form__submit Отправить
			+svg('arrow').form__arrow