mixin textarea({ placeholder='Ваше сообщение',title='Ваше сообщение',error='Длина сообщения более 1000 символов', active=true,name='message' }={})
	.textarea(class=active?'':'textarea_inactive')&attributes(attributes)(data-component='textarea')  
		.textarea__wrapper
			textarea(placeholder=placeholder name=name)&attributes(attributes).textarea__area
			span.textarea__title=title
			+svg('tip').textarea__svg.textarea_invisible_elem
		span.textarea__error.textarea_invisible_elem=error