include ../button/button
include ../input/input
include ../textarea/textarea
include ../upload_btn/upload_btn

mixin feedback(props)
	.feedback&attributes(attributes)(data-component='feedback')
		h2.feedback__title!=props.title
		form.feedback__form(method='POST')
			.feedback__inputs
				+input({name: 'email', label: 'E-mail'})(id='email' type='email' name='email' required=true)
				+textarea({name: 'message', label: 'Ваше сообщение'})(id='message' name='message' required=true)
			.feedback__upload
				+upload_btn({name: 'upload-file', label: 'Прикрепить файл'})(id='upload-file' type='file' name='document' accept='.pdf, .doc, .docx')
			.feedback__policy
				input.feedback__input-policy(type='checkbox' id='policy' name='confirm' required=true).feedback__policy-input
				label(for='policy').feedback__policy-label Вы подтверждаете, что ознакомились <a class="feedback__policy-link" href='#'>c политикой обработки персональных данных</a>
			.feedback__btn
				+button({text: 'Отправить'})(type='submit' disabled=true)