- var arrowBlue = '../assets/images/arrowBlue.svg'
- var arrowGray = '../assets/images/arrowGray.svg'

mixin flex-container()
    section.flex-container
        h2.flex-container__title.
            #[p.colored Комплексные] &#160;предложения для мостостроения
        .flex-container__content
            .flex-container__row-1
                .item 
                    .item__card.gray 
                        .card__title Мостовая сталь/Стальные конструкции мостов
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowRight")          
                .item 
                    .item__card.gray  
                        .card__title Железобетонные конструкции мостов
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowRight")
                    .item__card.gray  
                        .card__title Дорожные ограждения барьерного типа
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowRight")
            .flex-container__row-2   
                .item 
                    .item__card.blue 
                        .card__title Шпунтовой замок
                        .card__arrow 
                            img(src=arrowGray, alt="arrowRight")          
                .item 
                    .item__card.gray  
                        .card__title Мостовой крепеж
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowRight")
                .item 
                    .item__card.light-blue  
                        .card__title Профили для деформационных швов
                        .card__arrow 
                            img(src=arrowGray, alt="arrowRight")
                .item 
                    .item__card.gray  
                        .card__title Плетеные габионы
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowBlue")
                .item 
                    .item__card.gray  
                        .card__title Модульные мосты
                        .card__arrow 
                            img(src=arrowBlue, alt="arrowBlue")
                                
                
            

