mixin flex-container()
    section.flex-container
        // Your code here
        .flex-container__content
            .flex-container__row
                div(class="block block_lg")
                    p Мостовая сталь/Стальные конструкции мостов
                    a(class="block__button" href="/")
                        | &nbsp;!{Btn}
                .flex-container__col
                    div(class="block block_md")
                        p Железобетонные конструкции мостов
                        a(class="block__button" href="/")
                            | !{Btn}
                    div(class="block block_md")
                        p Дорожные ограждения барьерного типа
                        a(class="block__button" href="/")
                            | !{Btn}
            .flex-container__row
                div(class="block block_dark-blue block_sm")
                    p Шпунтовой замок
                    a(class="block__button" href="/")
                        | !{Btn}
                div(class="block block_sm")
                    p Мостовой крепеж
                    a(class="block__button" href="/")
                        | !{Btn}
                div(class="block block_blue block_sm")
                    p Профили для деформационных швов
                    a(class="block__button" href="/")
                        | !{Btn}
            .flex-container__row
                div(class="block block_md")
                    p Плетеные габионы
                    a(class="block__button" href="/")
                        | !{Btn}
                div(class="block block_md")
                    p Модульные мосты
                    a(class="block__button" href="/")
                        | !{Btn}
